* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #111827;
    border-bottom: 1px solid #1e293b;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 60px;
}

.logo-container h1 {
    font-size: 28px;
    color: #38bdf8;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-weight: bold;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* HERO */

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 20px;
    color: #94a3b8;
}

/* CARD */

.card {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 40px;
}

.card h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.item {
    background: #1e293b;
    padding: 40px;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    border: 1px solid transparent;
}

.item:hover {
    transform: translateY(-5px);
    border: 1px solid #38bdf8;
    background: #273549;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    color: #94a3b8;
}